node_modules/
.env
dist/
build/
.next/
*.log
docs/

# Prisma
prisma/generated/
prisma/dev.db
prisma/dev.db-journal

# 🔒 Secrets
service-account-key.json

# Uploads & Images
public/images/spk/
public/uploads/receipts/
